.primary-button,
.default-button,
.header-button {
	border-radius: 4px;
	font-family: var(--font-family-Pb);
	font-size: 16px;
	line-height: 24px;
	outline: none;

}

.primary-button {
	background-color: #FF9900;
	color: #ffffff;
	border: none;
	width: 180px;
	height: 50px;	
}

.default-button{
	color: #2F281E;
	background-color: #ffffff;
	border: 1px solid #BCD0E5;
}

.primary-button:hover,
.primary-button:focus,
.header-button:hover,
.header-button:focus{
	background-color: #fae7cb ;
	transition: all .3s ease-in;
	color: #FF9900;
}

.default-button:hover,
.default-button:focus{
	border: 2px solid #79a8da;
	color: #000000;
}