



.container{
	min-width: 1440px;
	height: 3709px;
	margin: auto;
	padding: 0px 120px;
	border: 1px solid #BCD0E5;
}


header{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header__nav{
	width: 352px;
	display: flex;
	justify-content: space-around;
	font-family: var(--font-family-r);
	font-size: 16px;
	line-height: 28px;
	

}

.header__link{
	color: #2F281E;
}

.header__nav a:hover,
.header__nav a:focus {
	color:#FF9900;
	transition: all .3s ease-in;
}

.header-button{ 
	font-family: var(--font-family-sb);
	line-height: 20px;
	width: 110px;
	height: 46px;
	margin-left: 30px;
}

.about {
	max-width: 100%;
	height: 495px;
	margin-top: 70px;
	
}

.row {
	display: flex;
	justify-content: space-between;
}

.self-center{
align-self: center;

}

.about__text{
font-family: var(--font-family-r);
line-height: 28px;
font-size: 18px;
width: 500px;
}

.about__title{
	font-family: var(--font-family-b);
	font-size: 44px;
	line-height: 54px;
	color: #2F281E;
	margin-bottom: 30px;
}

.about__btn{
	width: 180px;
	height: 50px;
	margin-top: 20px;
	font-family: var(--font-family-Pb);
}

.about__img  {
	width: 644px;
	height: 100%;
}


.people {
	position: absolute;
}
.oval {
	
	margin-top: 0;
	margin-right: 500px;
}